<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							
						</th>
						<th>
							Segunda
						</th>
						<th>
							Terça
						</th>
						<th>
							Quarta
						</th>
						<th>
							Quinta
						</th>
						<th>
							Sexta
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="success">
						<th>
							Manhã
						</th>
						<td>
							 <label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
					</tr>
					<tr class="success">
						<th>
							Tarde
						</th>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
					</tr>
					<tr class="success">
						<th>
							Noite
						</th>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td>
							<label class="col-md-4 control-label" for="resumoProjeto"></label>
							<p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title custom_align" id="Heading">Edição</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<fieldset>
						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="aluno">Nome</label>
							<div class="col-md-5">
								<select class="form-control" ng-options="aluno.nome for aluno in alunos track by aluno.id" ng-model="modal.aluno"></select>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
			<div class="modal-footer ">
				<button ng-click="editar(modal)" type="button" class="btn btn-primary btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Cadastrar</button>
			</div>
		</div>
	<!-- /.modal-content --> 
	</div>
<!-- /.modal-dialog --> 
</div>

	</div>
</div>