<div class="row">
	<div class="col-md-12">
	    <form class="form-horizontal">
			<fieldset>

				<!-- Form Name -->
				<legend>Projetos</legend>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="nome">Nome</label>  
				  <div class="col-md-5">
				  <input ng-model="projeto.nome" id="nome" name="nome" placeholder="Nome" class="form-control input-md" type="text">
				    
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="resumoProjeto">Resumo do Projeto</label>
				  <div class="col-md-5">                     
				    <textarea ng-model="projeto.resumo" class="form-control" id="resumoProjeto" name="resumoProjeto"></textarea>
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="professor">Tipo do Projeto</label>
				  <div class="col-md-5">
				    <select class="form-control" ng-options="tipo.nome for tipo in tiposDeProjeto track by tipo.id" ng-model="projeto.tipoProjeto"></select>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="professor">Professor</label>
				  <div class="col-md-5">
				    <select class="form-control" ng-options="professor.nome for professor in professores track by professor.id" ng-model="projeto.professor"></select>
				  </div>
				</div>

				<div class="form-group">
					<div class="col-md-10 text-center">
						<button ng-click="salvar(projeto)" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> Salvar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<legend>Lista de Projetos</legend>
		<div class="table-responsive">
			<table id="mytable" class="table table-bordered table-striped">
				<tr>
					<th width="50">Código</th>
					<th>Nome</th>
					<th>Tipo do Projeto</th>
					<th>Resumo do Projeto</th>
					<th>Professor</th>
					<th>Editar</th>
	                <th>Deletar</th>
				</tr>

				<tr ng-repeat="projeto in projetos">
				    <td>{{projeto.id}}</td>
				    <td>{{projeto.nome}}</td>
				    <td>{{projeto.tipoProjeto.nome}}</td>
				    <td>{{projeto.resumo}}</td>
				    <td>{{projeto.professor.nome}}</td>
				    <td><p><button ng-click="loadModalForEdit(projeto)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
				    <td><p><button ng-click="loadModalForDelete(projeto)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
			    </tr>
				
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title custom_align" id="Heading">Edição</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<fieldset>
						<input type="hidden" ng-model="modal.id">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="nome">Nome</label>  
							<div class="col-md-5">
								<input ng-model="modal.nome" id="nome" name="nome" placeholder="Nome" class="form-control input-md" type="text">
							</div>
						</div>

						<!-- Textarea -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="resumoProjeto">Resumo do Projeto</label>
							<div class="col-md-5">                     
								<textarea ng-model="modal.resumo" class="form-control" id="resumoProjeto" name="resumoProjeto"></textarea>
							</div>
						</div>

						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="professor">Professor</label>
							<div class="col-md-5">
								<select class="form-control" ng-options="professor.nome for professor in professores track by professor.id" ng-model="modal.professor"></select>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
			<div class="modal-footer ">
				<button ng-click="editar(modal)" type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Atualizar</button>
			</div>
		</div>
	<!-- /.modal-content --> 
	</div>
<!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title custom_align" id="Heading">Deletar</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning">
					<input type="hidden" ng-model="delmodal.id">
					<span class="glyphicon glyphicon-warning-sign"></span>Deseja realmente remover o registro selecionado?
				</div>
			</div>
			<div class="modal-footer ">
				<button  ng-click="deletar(delmodal.id)" type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Sim</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Não</button>
			</div>
		</div>
	<!-- /.modal-content --> 
	</div>
<!-- /.modal-dialog --> 
</div>